*~
*.elc
/proxy.pac
/bin/cgsutils
/bin/genstrings2
/bin/class-dump
/bin/composer.phar
/bin/phing.phar
/bin/phpmd.phar
/bin/zftool.phar
/bin/phpDocumentor.phar
/bin/phpunit.phar
/bin/phpunit-3.phar
/bin/wol-*
/composer/cache
/composer/vendor
/dotfiles/emacs
/dotfiles/emacs-root
/emacs/custom.el
/emacs/customize.d/*/emacs21
/emacs/customize.d/*/emacs22
/emacs/customize.d/*/emacs23
/emacs/customize.d/*/emacs24
/emacs/customize.d/all-bundle*.el
/emacs/customize.d/emacs21
/emacs/customize.d/emacs22
/emacs/customize.d/emacs23
/emacs/customize.d/emacs24
/emacs/elisp-addons/muse-3.20/lisp/muse-autoloads.el
/emacs/elisp-emacs21
/emacs/elisp-emacs22
/emacs/elisp-emacs23
/emacs/elisp-emacs24
/emacs/nxhtml/nxhtml-loaddefs.el
/vim/
/node_modules
/genymotion-peco
/setup/ansible-macos/*.retry
/setup/ansible-macos/brew_info/*
/setup/ansible-macos/cask_info/*
!.gitkeep
